DATABASE_URL="postgresql://admin:supersecretpassword@localhost:5432/isy_automation?schema=public"

#db connection
POSTGRES_USER=admin
POSTGRES_HOST=db
POSTGRES_DB=isy_automation
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_PORT=5432


# URL base da sua aplicação local
NEXTAUTH_URL=http://localhost:3000

# Uma string aleatória qualquer para criptografar os cookies da sessão
NEXTAUTH_SECRET=um_segredo_muito_foda_e_longo_123456

# Credenciais do Google Cloud Console
GOOGLE_CLIENT_ID="1234567890-exemplo.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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gle"

DISCORD_WEBHOOK_URL=https://discordapp.com/api/webhooks/1511286952802910239/q2IbuPET6j2wgGZCRmNMsFvQM-6Kjo7PkPXJjW9-SvPdXpVXH1EV1BUpHiJo2CXcmYiz


